<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Peer to peer app by nagyza</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="UTF-8"/>
</head>
<body>
  <h1>Peer to Peer Chat program</h1>
  <h2 th:text="'Hi ' + ${user.name} + '!'">Hi User!</h2>
  <h2 th:text="${message}"></h2>
  <form method="get" action="/update_user">
    <label>Your username:
      <input type="text" th:name="name" th:value="${user.name}"/>
      <input type="submit" value="update"/>
    </label>
  </form>
  <form method="post" action="/send_message">
    <textarea type="text" th:name="text" cols="30" rows="3"/>
    <input th:type="hidden" th:value="${user.name}" th:name="user"></input>
    <input type="submit" value="Send"/>
  </form>
  <ul>
    <li th:each="messageText : ${messagesText}">
      <span th:text="${messageText.user}"></span>
      <span th:text="${messageText.text}"></span>
    </li>
  </ul>
</body>
</html>