<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Peer to peer app by nagyza</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="UTF-8"/>
</head>
<body>
  <h1>Peer to Peer Chat program</h1>
  <h2 th:text="'Hi ' + ${user.name} + '!'">Hi User!</h2>
  <h2 th:text="${message}"></h2>
  <form method="get" action="/update_user">
    <label>Your username:
      <input type="text" th:name="name" th:value="${user.name}"/>
      <input type="submit" value="update"/>
    </label>
  </form>
</body>
</html>